*{              /* css reset*/
margin: 0;
padding: 0;
}
.FAQs{
    background-color: aliceblue;
    height: 1000px;
    border-radius: 24px;
}
.FAQs h1{
    text-align: center;
    padding: 27px;
    font-size: 40px;
} 
.FAQs-row{
    display: flex;
    width: 971px;
    justify-content: flex-start;
    margin: 15px auto;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}
.icon{
    padding-left: 27px;
}
.intro{
    padding-top: 15px;
    margin-left: 34px;
}
.FAQs section a img{
    width: 47px;
}
.FAQs-row section a img:hover{      /* psuedo class for plus icon*/
    
}
.FAQs-row section span a{
text-decoration: none;
}
.FAQs-row section span a:hover{       /* psuedo class for pluse icon'intro */
    color: rgb(125, 222, 244);
}
.FAQs-row section{

}
/* Get free consulting session from our experts   */
.session_form{
    /* background-color: antiquewhite; */
    display: flex;
    height: 888px;
}
.elementor img{
    width: 432px;
    padding: 81px;
    margin-top: 143px;
}
.form{
    padding: 41px;
    margin-top: 176px;
}
.form h1{
width: 201px;
width: 410px;
    font-size: 50px;
    text-align: start;
    padding: 0px;
}
form{
    line-height: 33px;
}
form label{

}
form input{
    height: 44px;
    width: 271px;
    border-radius: 8px;
}
.form button{
    padding: 13px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #0909f3;
    font-size: 15px;
    color: white;
}
.form button:hover{
    cursor: pointer;
}